###########################################################
#  Computer Project #2
#
#  Algorithm
#    introduce the company (print statements)
#    prompt for days, initial odometer, and final odometer
#    ask for A/B
#    make sure that the customer code is capitalized
#    input the customer code
#       do the calculations for BD, D, W
#    print customer summary
###########################################################

import math

print("\nWelcome to Horizons car rentals. \
\n\nAt the prompts, please enter the following: \
\n\tCustomer\'s classification code (a character: BD, D, W) \
\n\tNumber of days the vehicle was rented (int)\
\n\tOdometer reading at the start of the rental period (int)\
\n\tOdometer reading at the end of the rental period (int)")
 
prompt_str = input('''\nWould you like to continue (A/B)? \n''')
while(not(prompt_str=='B')):
    code=''
    while(not(code=='BD' or code=='D' or code=='W')): #upper case 
        code=input ("\nCustomer code (BD, D, W): \n")
        if(not (code=='BD' or code=='D' or code=='W')):
            print("\n\t*** Invalid customer code. Try again. ***")
    days_int = int(input("\nNumber of days: \n"))
    initial_odo_int= int(input("Odometer reading at the start: \n"))
    final_odo_int = int(input("Odometer reading at the end:   \n"))   
    if(final_odo_int<initial_odo_int):
        miles_float=((final_odo_int-initial_odo_int+1000000)/10)
    else:
        miles_float= ((final_odo_int-initial_odo_int)/10)
    if(code=='BD'): #code of BD
        charge_float=40.00*days_int+0.25*miles_float
    elif(code=='D'): #code of D
        if((miles_float/days_int)<=100):
            charge_float=60.00*days_int
        else:
            charge_float=(60.00*days_int)+(0.25*(miles_float-(100*days_int)))
    else: #code of W
        weeks_int=math.ceil(days_int/7)
        if ((miles_float/weeks_int)<900):
            charge_float=190.00*weeks_int
        elif ((miles_float/weeks_int)<1500):
            charge_float=190.00*weeks_int+100.00*weeks_int
        else:
            charge_float=190.00*weeks_int+200.00*weeks_int+\
            (miles_float-1500*weeks_int)*0.25

    print("\nCustomer summary:")
    print("\tclassification code:",code)
    print("\trental period (days):",days_int)
    print("\todometer reading at start:",initial_odo_int)
    print("\todometer reading at end:  ",final_odo_int)
    print("\tnumber of miles driven: ",miles_float)
    print("\tamount due: $",charge_float)
    prompt_str = input('''\nWould you like to continue (A/B)? \n''')

print("Thank you for your loyalty.")
